@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-text-primary antialiased;
    font-family: 'Satoshi', sans-serif;
    text-transform: lowercase;
  }
}